.app {
    padding: 2rem;
}

/* Cabeçalho */
.header {
    text-align: center;
    margin-bottom: 2rem;
}

.header h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* forms */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: #f2620f4b 0px 7px 29px 0px ;
    border-radius: 3px;
}

.form-container form {
    max-width: 400px;
    margin: 0 auto;
}

/* inputs */
.inputs-container {
     min-height: 280px;
}

/* useForm, form-control */
.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
}


label {
    font-weight: bold;
    color: #777;
    font-size: 0.9rem;
}


input,
textarea {
    padding: 0.6rem;
    border: none;
    border-radius: 3px;
    color: #777;
    box-shadow: #31078c83 0px 2px 8px 0px;
}

textarea {
    height: 120px;
}

/* actions  botões de ação */ 
.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

}

.actions button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 3px;
    background-color: #5C15BF;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    
}

.actions button:hover {
    background-color: #792be6;
}









