/* estilo global */
* {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

p {
  color: #F2620F;
}

body {
  background-image: linear-gradient(to bottom,  #070540 25%, #180559, #31078C); 
  height: 100vh;
}













