/* CSS da parte de agradecimento, no final da avaliação em envio */

.thanks-container {
    text-align: center;
}

.thanks-container h2 {
    color: #333;
    margin-bottom: 1rem;
}

.thanks-container p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.thanks-container h3 {
    color: #333;
    margin: 1rem 0;
}


.review-data {
    text-align: left;
}

.review-data svg {
    margin-left: 5px;
}

.review-data span {
    color: #F2620F;
    font-weight: bold;
}
